.layout{

}
.mainWithoutTabPanel{
    margin-top: 69px;
    margin-bottom: 44px;
}
.mainWithTabPanel{
    /*margin-top: 48px;*/
}


.footer{
    padding: 10px 0;
    background-color: #555;
    position: fixed;
    bottom: 0;
    width: 100%;
}
